/* Quick Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --white-bg: #FEFEFE;
  --white-text: #FEFEFE;
  --pink-bg: #F28AB2;
  --pink-bg-light: #F7BAD2;
  --pink-bg-dark: #CF1760;
}

/* Body */
body {
  background-color: var(--pink-bg);
  font-family: 'Montserrat', sans-serif;
  color: #3E3D41;
}

/* General Elements Styling */
button {
  border: none;
  border-radius: 3px;
}

/* Reminders Container */
.container {
  background-color: var(--white-bg);
  width: 90vw;
  max-width: 450px;
  padding: 40px 34px;
  border-radius: 4px;
  margin: 80px auto;
  box-shadow: 0 3px 10px rgba(20, 20, 20, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.container:hover {
  box-shadow: 0 3px 15px rgba(20, 20, 20, 0.3);
}

/* Main Reminder Heading */
.container .main-heading {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Reminder Info */
.container .reminders .reminder {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 75px auto;
  grid-column-gap: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.container .reminders .reminder:last-child {
  margin-bottom: 2rem;
}

/* Reminder Info - Photo */
.container .reminders .reminder .photo {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  grid-row: 1/-1;
  grid-column: 1/2;
}

/* Reminder Info - Name */
.container .reminders .reminder .name {
  font-size: 18px;
  font-weight: 500;
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
}

/* Reminder Info - Age */
.container .reminders .reminder .age {
  font-size: 14px;
  grid-row: 2/3;
  grid-column: 2/3;
}

/* Clear Reminders Button */
.container .clear-button {
  width: 100%;
  background-color: var(--pink-bg);
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--white-text);
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out;
}

.container .clear-button--hover:hover {
  background-color: var(--pink-bg-light);
}

.container .clear-button:active {
  background-color: var(--pink-bg-dark);
}